body {
    background-image: linear-gradient(to right, #060D17 0%, #060D17 30%, #1a1a1a 50%, #FFFFFF 100%);
    margin: 0;
}

.Container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 4vw;
    padding-top: 10vh;
}

.content-left {
    width: 45%;
}

h1 {
    font-size: 3vw;
    margin-top: 0;
}

p {
    font-size: 1vw;
    line-height: 1.5;
}

.buttons-container {
    display: flex;
    gap: 2vw;
    flex-direction: row;
    margin-bottom: 2vw;
}
  
button {
    background-color: #060D17;
    color: white;
    border: 0.2vw solid #333;
    padding: 0.5vw 1vw;
    font-size: 1vw;
    border-radius: 0.7vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

button:hover {
    background-color: #1a1a1a;
    border-color: #555;
}

button img {
    width: 1vw;
    height: auto;
    margin-right: 0.5vw;
    filter: invert(100%);
    transition: filter 0.3s ease;
}

button:hover img {
    filter: invert(0);
}
  
.quiñonez {
    width: 35vw;
    height: auto;
}

.reviews-box {
    background-color: #1a1a1a;
    padding: 2vw;
    border-radius: 1vw;
    margin-top: 2vw;
    position: relative;
}

.reviews-box h2 {
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 2vw;
}

.review-input {
    width: 90%;
    background-color: #060D17;
    color: white;
    border: 0.2vw solid #333;
    padding: 0.8vw;
    border-radius: 0.5vw;
    font-size: 1vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 1.5vw;
}

.review-input::placeholder {
    color: #bbb;
}

.review-text {
    font-size: 1vw;
    color: #ccc;
    margin-bottom: 0.8vw;
}




@media (max-width: 768px) {
    .Container {
        flex-direction: column;
        width: 90vw;
        padding: 6vw;
    }
  
    .content-left {
        width: 100%;
    }

    .quiñonez {
        order: -1;
        width: 100%;
        margin-bottom: 4vw;
    }
  
    h1 {
        font-size: 6vw;
    }
  
    p, .review-text {
        font-size: 3vw;
    }

    .reviews-box {
        padding: 4vw;
    }

    .reviews-box h2 {
        font-size: 4vw;
        margin-bottom: 4vw;
    }
  
    .buttons-container {
        gap: 3vw;
        margin-bottom: 4vw;
    }
  
    button {
        padding: 1vw 3vw;
        font-size: 3vw;
    }
    
    button img {
        width: 3vw;
        margin-right: 1vw;
    }

    .review-input {
        width: 95%;
        padding: 2vw;
        font-size: 3vw;
        margin-bottom: 3vw;
    }
}